[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
tqdm = "*"

[requires]
python_version = "3.7"

[scripts]
describe_events = 'python search_logs.py --describe-events'
find_intruders = 'python search_logs.py --find-intruders'
